

p{line-height: 2;
font-family: 'Ubuntu', sans-serif;}
div{
text-align: center; }
body{ margin:0;
background-color: #FEECE9}
.hr{  border-style: dotted;
border-style: none ;
border-top-style: dotted;
border-width: 5px;
border-color: black;
width: 5%;
margin: auto}
h1{
margin-top: 0;
font-size: 5.625rem;
color:#66BFBF;}
h2{color: #66BFBF;
font-weight: normal;}
span{
font-family: 'Yuji Hentaigana Akebono', cursive;}
p{font-family: 'Baloo 2', cursive;}
h3 {font-family: 'Spartan', sans-serif;
margin: 30px}
.top-con{ background-color: #FEECE9;
}
.par{font-size: 2.5rem;
font-family: 'Baloo 2', cursive;}
.ped{padding: 30px;}
.middle-container{background-color: #FFFDDE}

.fir-cloud{position: absolute;right: 15.625rem;
position: relative;;top: 17.625rem}
.sec-cloud{position: relative;left: 15.625rem;
}
.skill-row{width: 50%;
margin: auto;
line-height: 2;
text-align: left;
margin-bottom: 100px}
.team{width: 25%;
height: auto;
float: right;
margin-left: 30px}
.pro{width: 25%;
height: auto;
float: left;
margin-right: 30px;
margin-bottom: 30px;}
.tree-one{position: relative;right:200px}
.btn {
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #3498db;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #29dba0);
  background-image: -moz-linear-gradient(top, #3cb0fd, #29dba0);
  background-image: -ms-linear-gradient(top, #3cb0fd, #29dba0);
  background-image: -o-linear-gradient(top, #3cb0fd, #29dba0);
  background-image: linear-gradient(to bottom, #3cb0fd, #29dba0);
  text-decoration: none;
}
.ea{margin:0 ;
position: relative;buttom:10px;
padding: buttom;0}

.MON{position:relative;;buttom:0}

a{color: #7900FF;
text-decoration: none;
font-family: 'Spartan', sans-serif;
margin: 20px;
text-align: center;
}

a:hover {
  color:  #22577E;
}

.bottom-container{background-color:#A3DA8D;
padding: 50px 0px 20px ;
margin-top: 30px;}
.end{margin: 10px;
color: #CDDEFF}
